@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>

<img class="responsive"  src="~/app-images/undraw_Environmental_study_re_q4q8.png"/>
   
</div>




<style>

    .responsive {
        width: 60%;
        height: auto;
    }

</style>
