<div class="text-center">
    <h1 class="display-4">Welcome</h1>

    <img class="responsive" src="~/app-images/undraw_Control_panel_re_y3ar.png" />

</div>




<style>

    .responsive {
        width: 60%;
        height: auto;
    }

</style>
